<ion-view view-title="About Me">
  <ion-content>
    <h1>Details</h1>

   
    

    <ion-list class="item">
     <div class="bar bar-header bar-assertive">
      <h1 class="title">This Work is Done As Assignmnet By </h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    	<ion-item class="bar bar-header bar-balanced">
    		<h2>Name:<b> Shivam Kumar </b></h2>
       	</ion-item>
    
    	<ion-item class="bar bar-header bar-royal">
    		<h2>USN:<b> 1NT13IS075 </b></h2>

       	</ion-item>
       	</ion-item>
    	<ion-item class="bar bar-header bar-calm">
    		<h2>Department:<b> ISE </b></h2>

       	</ion-item>
       	<ion-item class="bar bar-header bar-positive">
    		<h2>College:<b> NMIT </b></h2>

       	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
