<ion-view view-title="Home">
  <ion-content>
  	<ion-header-bar class="padding">
  	<div class="icon">
  	
  	</div>
  	<br>
    <br>
    <br>
  	<div class="icon">
          <div class="bar bar-header bar-balanced">
              <h1 class="title">The Social Network</h1>
          </div>

  	</div>
    <div>
    <br>
    <br>

    <h1>A whole New World Of Social Network</h1>
    <br>
    <h4>The Social Network is an Assignment project. </h4>
    <br>
    <h4>STEPS TO CREATE AN ACCOUNT</h4>
    <hr>
      <h4>OPEN APP IN IOS OR ANDROID</h4>
      <h4>GO TO LOGIN PAGE IN OPTIONS.</h4>
      <h4>YOU CAN ALSO SIGNUP USING YOUR FB ACCOUNT</h4>
      <h4>SUBMIT DETAILS</h4>
      <h4><strong>ENJOY!!!</strong></p>
          
    </div>
</ion-view>
