<ion-view view-title="How To Use">
  <ion-content>
    <ion-card >
        <br>
        <br>
    	<ion-item class="bar bar-header bar-energized">
    		Login Screen -SCREEN 1

    	</ion-item>
    	<ion-item class="bar bar-header bar-balanced">
    		 Login With the Facbook/Gamil Account.

    	</ion-item>
    	<br>
    	<br>
    	<br>
    	<br>
    	<ion-item class="bar bar-header bar-energized">

    		Profile Screen -SCREEN 2

    	</ion-item>
    	<ion-item class="bar bar-header bar-assertive">
    		 Show the Details of the User who has Logged in. 
    	</ion-item>
    	<br>
    	<br>
    	<br>
    	<br>
        <ion-item class="bar bar-header bar-balanced">

    		lOGOUT SCREEN -Screen 3

    	</ion-item>
    	<ion-item class="bar bar-header bar-royal">
    	Preforms Logout Operation
    	    	</ion-item>

    </ion-card>
  </ion-content>
</ion-view>
